html,body{
	height:100%;
}
*{
	margin:0;
	padding:0;
}
ul li{
	list-style:none;
}
ol li{
	list-style:none;
}
a{
	text-decoration:none;
}
#layout{
	width:1210px;
	margin:0 auto;
}
#top{
	width:100%;
	background:#f1f1f1;
	height:33px;
}
#top .nav-left{
	float:left;
}
#top span{
	font-family:"iconfont";
	line-height:33px;
	font-size:12px;
	color:#a1a1a1;
}
#top a{
	color:#a1a1a1;
	font-size:11px;
}
#top .nav-left:hover a{
	color:#c81623;
}
#top ul li:hover a{
	color:#c81623;;
}
#top ol li:hover a{
	color:#c81623;;
}
#top li a:hover{
	color:#c81623;;
}
#top .nav-right ul{
	float:left;
	font-size:11px;
	line-height:30px;
	margin-left:450px;
}
#top .nav-right ul li{
	float:left;
}
#top .num p{
	float:left;
	background:#f2f2f2;
}
#top .num span{
	font-family:'iconfont';
}
#top .num .subnum{
	height:150px;
	width:230px;
	background:#fff;
	position:absolute;
	left:765px;
	top:30px;
	display:none;
	border:1px solid #f2f2f2;
	border-top:none;
}
#top .num .subnum a{
	float:left;
	margin-left:10px;
	margin-right:40px;
	margin-top:10px;
}
#top .num:hover p{
	background:white;
}
#top .num:hover .subnum{
	display:block;
}
#top .nav-right ol{
	float:left;
	font-size:11px;
	line-height:30px;
}
#top .nav-right ol li{
	float:left;
}
#top .num1 p{
	float:left;
	background:#f2f2f2;
}
#top .num1 span{
	font-family:'iconfont';
}
#top .num1 .subnum{
	height:150px;
	width:200px;
	background:#fff;
	position:absolute;
	left:955px;
	top:30px;
	display:none;
	border:1px solid #f2f2f2;
	border-top:none;
}
#top .num1 .subnum a{
	float:left;
	margin-left:10px;
	margin-right:40px;
	margin-top:10px;
}
#top .num1:hover p{
	background:white;
}
#top .num1:hover .subnum{
	display:block;
}
#top .num2 p{
	float:left;
	background:#f2f2f2;
}
#top .num2 span{
	font-family:'iconfont';
}
#top .num2 .subnum{
	height:100px;
	width:60px;
	background:#fff;
	position:absolute;
	left:1045px;
	top:30px;
	display:none;
	border:1px solid #f2f2f2;
	border-top:none;
}
#top .num2:hover p{
	background:white;
}
#top .num2:hover .subnum{
	display:block;
}
#top .num3 p{
	float:left;
	background:#f2f2f2;
}
#top .num3 span{
	font-family:'iconfont';
}
#top .num3 .subnum{
	height:250px;
	width:150px;
	background:#fff;
	position:absolute;
	left:1122px;
	top:30px;
	display:none;
	border:1px solid #f2f2f2;
	border-top:none;
}
#top .num3 .subnum a{
	float:left;
	margin-left:10px;
	margin-right:20px;
	margin-top:10px;
}
#top .num3:hover p{
	background:white;
}
#top .num3:hover .subnum{
	display:block;
}
#top .num4 p{
	float:left;
	background:#f2f2f2;
}
#top .num4 span{
	font-family:'iconfont';
}
#top .num4 .subnum{
	height:200px;
	width:1205px;
	background:#fff;
	position:absolute;
	left:65px;
	top:30px;
	display:none;
	border:1px solid #f2f2f2;
	border-top:none;
}
#top .num4 .subnum{
	float:left;
}
#top .subnum u{
	float:left;
	margin-left:10px;
	font-size:11px;
	margin-top:20px;
	text-decoration:none;
	font-weight:bold
}
#top .subnum .test ol{
	float:left;
	margin-top:40px;
	margin-left:-50px;
	margin-right:70px;
}
#top .subnum ol li{
	clear:both;
	float:left;
}
#top .subnum .hgr{
	float:left;
	margin-top:15px;
	height:170px;
	border:1px solid #f2f2f2;
	margin-right:20px;
}
#top .num4:hover p{
	background:white;
}
#top .num4:hover .subnum{
	display:block;
}

.top-center img{
	float:left;
	margin:18px 165px 25px auto;
}
.top-center .box{
	height:32px;
	width:536px;
	border:2px solid #c81522;
	float:left;
	margin-top:25px;
}
.top-center .box span{
	font-family:"iconfont";
	font-size:15px;
	line-height:32px;
	margin-left:10px;
	margin-right:20px;
	color:#a4a4a4;
}
.top-center .box input{
	font-size:12px;
	color:#333333;
	border:none;
	outline:none;
}
.box .box2{
	line-height:32px;
	width:80px;
	font-size:15px;
	color:#fff;
	background:#c81522;
	text-align:center;
	float:right;
}
.box .box3{
	height:0;
	width:0;
	border-top:16px solid white;
	border-bottom:16px solid white;
	border-left:16px solid white;
	border-right:20px solid #c81522;
	float:right;
}
.box ul li {
	float:left;
	font-size:11px;
	color:#666666;
	margin-right:11px;
	margin-top:10px;
}
.box ul li:nth-child(1){
	color:#666;
	font-size:11px;
	font-weight:bold;
}
#top .box li a:nth-child(2){
	color:#ff0004;
	font-size:11px;
	margin-right:11px;
}
#top .box li a:hover{
	color:#ff0004;
}
.cart{
	height:35px;
	width:135px;
	background:#f9f9f9;
	border:1px solid #dfdfdf;
	float:right;
	margin:32px 65px auto auto;
}
.cart span{
	font-family:"iconfont";
	color:#cb2430;
	font-size:13px;
	margin-left:20px;
	line-height:35px;
}
.cart a{
	font-size:11px;
	color:#666666;
	margin-left:9px;
}
#top.cart a:hover{
	color:red;
}
#center{
	clear:both;
}
#center .center-top img{
	float:left;
	margin-right:20px;
}
#center .center-top h1 a{
	float:left;
	margin-right:40px;
	line-height:44px;
	font-weight:normal;
	color:#333;
	font-size:13px;
}
#center .center-top h1:hover a{
	color:#ff0004;
}
#center .center-left .menu{
	width:236px;
	background:#fff;
	float:left;
	position:relative;
	clear:both;
	border-right:none;
}
#center .center-left .menu span{
	font-family:'iconfont';
	font-size:13px;
	line-height:35px;
	margin-left:9px;
	float:left;
	margin-right:6px;
	overflow:hidden;
}
#center .menu ul li a{
	float:left;
	line-height:35px;
	font-size:11px;
	margin-right:12px;
	color:#333333;
}
#center .menu li:nth-child(1){
	font-weight:bold;
}
#center .subminu .box{
	float:left;
	height:24px;
	width:87px;
	background:#7c7171;
	margin:20px 10px 16px 20px;
}
#center .subminu .box .son{
	height:23px;
	width:23px;
	background:#5c5251;
	float:right;
	margin-top:-23px;

}
#center .box .son span{
	color:#fff;
	font-size:8px;
}
#center .box p{
	margin-left:5px;
	line-height:23px;
	font-size:12px;
	color:#fff;
}
#center .subminu .face{
	clear:both;
	float:left;
	width:70%
}
#center .subminu .box span{
	font-size:7px;
	margin-top:-6px;
}
#center .subminu .face span{
	margin-top:10px;
}
#center .face a{
	float:left;
	margin-right:-5px;
	font-size:12px;
	color:#666666;
	margin-top:19px;
	margin-bottom:12px;
	margin-left:9px;
}
#center .face a:nth-child(1){
	margin-left:26px;
	font-weight:bold
}
#center .face .hr{
	clear:both;
	width:620px;
	border:1px solid #eeeeee;
	margin-bottom:10px;
	margin-left:104px;
}
#center .subminu .face-right{
	width:990px;
}
#center  .face-right .imgs{
	float:left;
	margin-left:800px;
	margin-top:-500px;
}
.center-left .subminu{
	width:999px;
	float:left;
	display:none;
	position:absolute;
	left:235px;
	top:0;
	border:1px solid #b61d1d;
	z-index:100;
	background:#fff;
}
.center-left .menu:hover .subminu{
	display:block;
	top:;
}
#center .center-mid img{
	margin-top:3px;
}
#center .center-right{
	float:right;
}
#center .center-right .box{
	height:438px;
	width:245px;
	background:#fff;
	margin-top:-450px;
}
#center .box a{
	color:#333;
	margin-left:55px;
}
#center .box h4{
	margin-left:10px;
	margin-top:17px;
	margin-bottom:8px;
}
#center  .box .son{
	height:22px;
	width:92px;
	background:#e42634;
	margin-bottom:11px;
}
#center .son{
	margin-left:65px;
}
#center .son a{
	color:#fff;
	font-size:11px;
	margin-left:10px;
}
#center .box img{
	transition:1s;
	position:relative;
	top:0;
	left:65px;
}
#center .box img:hover{
	position:relative;
	top:-5px;
}
#center .center-right .hr1{
	width:243px;
	border:1px dotted #ccc;
}

#bottom .box{
	height:170px;
	width:302px;
	float:left;
	margin-top:10px;
}

#bottom .box:nth-child(1){
	background:#fdeeef;
}
#bottom .box:nth-child(2){
	background:#fdfce4;
}
#bottom .box:nth-child(3){
	background:#dbf2ff;
}
#bottom .box:nth-child(4){
	background:#f1ffec;
}
#bottom  .pon{
	float:left;
	clear:both;
	color:#f86863;
	font-size:17px;
	margin-top:35px;
	margin-left:20px;
}
#bottom  .pon a{
	clear:both;
	color:#f86863;
	font-size:17px;
}
#bottom .box .son{
	height:25px;
	width:65px;
	background:#f86863;
	margin-top:20px;
	border-radius:8px;
}
#bottom .box .son p{
	color:#fff;
	text-align:center;
	font-weight:bold;
}
#bottom .imgs img{
	float:right;
	transition:1s;
	position:relative;
	top:0;
	left:0;
}
#bottom .imgs:hover img{
	top:0;
	left:-5px;
}
#bottom .box:nth-child(2) a{
	color:#f79a2d;
}
#bottom .box:nth-child(2) .son{
	background:#f79a2d;
}
#bottom .box:nth-child(3) a{
	color:#0895da;
}
#bottom .box:nth-child(3) .son{
	background:#0895da;
}
#bottom .box:nth-child(4) a{
	color:#00bd7b;
}
#bottom .box:nth-child(4) .son{
	background:#00bd7b;
}
#roam .roam-top img{
	float:left;
	margin-top:30px;
}
#roam .roam-top h3{
	float:left;
	font-size:22px;
	margin-top:45px;
	margin-left:-70px;
	font-weight:normal;
	color:#fff;
	margin-right:35px;
}
#roam .roam-top h4{
 clear:both;
 float:right;
 font-size:22px;
 margin-right:1080px;
 margin-top:-30px;
 color:#c81522;
}
#roam .roam-top .tro{
	clear:both;
	float:right;
	margin-top:-25px;
	margin-right:830px;
}
#roam .tro a{
	color:#848383;
}
#roam .roam-center .halo{
	clear:both;
	float:left;
	margin-top:15px;
	position:relative;
}
#roam .roam-center .dow{
	margin-top:0;
}
#roam .halo .case{
	float:left;
	height:400px;
	width:30px;
	transform-origin:left 220px;
	transform:rotateZ(50deg);
	background:linear-gradient(to right,rgba(255,255,255,0.2),rgba(255,255,255,0),rgba(255,255,255,0.2)) no-repeat;
	position:absolute;
	left:-100px;
	top:-100px;
}
#roam .halo:hover .case{
	left:400px;
	transition:4s;
}
#roam .halo h3{
	margin-top:-190px;
	margin-left:30px;
	color:#0895da;
	font-size:20px;
	margin-bottom:13px;
}
#roam .halo h4{
	margin-left:30px;
	color:#0895da;
	font-weight:normal;
	font-size:18px;
}
#roam .halo .son{
	height:30px;
	width:115px;
	background:#0895da;
	margin-left:35px;
	margin-top:30px;
	position:relative;
	z-index:10;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
#roam .halo .son p{
	line-height:30px;
	color:#fff;
	margin-left:11px;
}
#roam .imgs img{
	margin-top:-140px;
	margin-left:200px;
}
#roam .rim .son{
	float:left;
	height:200px;
	width:200px;
	background:#fff;
	border:1px solid #dddddd;
	margin-top:15px;
	transition:.5s;
	position:relative;
	left:0;
	top:0;
}
#roam .son span{
	clear:both;
	float:left;
	font-family:'iconfont';
	font-size:24px;
	margin-top:20px;
	margin-left:20px;
	color:#f86863;
	margin-right:10px;
}
#roam .son p{
	font-size:17px;
	margin-top:22px;
	color:#f86863;
	font-weight:bold;
	margin-bottom:10px;
}
#roam .son:nth-child(2) span{
	color:#ffc549;
}
#roam .son:nth-child(2) p{
	color:#ffc549;
}
#roam .son:nth-child(3) span{
	color:#169bdc;
}
#roam .son:nth-child(3) p{
	color:#169bdc;
}
#roam .res:nth-child(1) span{
	color:#f87571;
}
#roam .res:nth-child(1) p{
	color:#f87571;
}
#roam .son h1{
	font-size:14px;
	font-weight:normal;
	color:#333333;
	margin-left:20px;
	margin-top:20px;
}
#roam .son img{
	margin-left:85px;
}
#roam .rim .ret:nth-child(1){
	border-bottom:none;

}
#roam .rim .ret:nth-child(2){
	border-left:none;
	border-bottom:none;
}
#roam .rim .ret:nth-child(3){
	border-left:none;
	border-bottom:none;
}
#roam .rim .ret:nth-child(4){
	border-left:none;
	border-bottom:none;

}
#roam .rim .son:hover{
	box-shadow:5px 5px 5px #ccc;
	left:-1px;
	top:-1px;
}
#roam .rim .res{
	margin-top:0;
}
#roam .res:nth-child(4) h1{
	color:#fff;
	font-size:22px;
	font-weight:bold
}
#roam .rim .res:nth-child(4){
	background:#ccc;
	box-shadow:none;
}
#roam .rim .res:nth-child(1){
	border-right:none;
}
#roam .rim .res:nth-child(2){
	border-right:none;
}
#roam .rim .res:nth-child(3){
	border-right:none;
}
#roam .res .but{
	margin-top:20px;
}
#roam .res .btn{
	clear:both;
	float:left;
	height:28px;
	border:1px solid #fff;
	margin-left:19px;
	margin-bottom:10px;
}
#roam .btn p{
	clear:both;
	font-size:14px;
	color:#fff;
	margin-top:4px;
	padding-left:10px;
	padding-right:10px
}
#roam .but .btn:hover{
	background:#efeeee;
}
#grab .grab-top img{
	clear:both;
	float:left;
	margin-top:15px;
}
#grab .grab-top h3{
	clear:both;
	float:left;
	font-size:22px;
	margin-top:-30px;
	margin-left:20px;
	font-weight:normal;
	color:#fff;
	margin-right:35px;
}
#grab .grab-top h4{
	clear:both;
	float:right;
	font-size:22px;
	margin-right:1080px;
	margin-top:-30px;
	color:#c81522;
}
#grab .grab-top .tro{
	clear:both;
	float:right;
	margin-top:-25px;
	margin-right:850px;
}
#grab .tro a{
	color:#848383;
	margin-right:10px;
}
#grab .grab-bottom{
	clear:both;
	float:left;
	width:100%;
	height:350px;
}
#grab .grab-bottom .box{
	float:left;
	margin-right:8px;
	height:332px;
	width:232px;
	border:1px solid #cccccc;
	top:15px;
	position:relative;
	left:0;
	overflow:hidden;
}
#grab .box img{
	margin-left:30px;
	margin-top:23px;
}
#grab .box .pane{
	float:left;
	height:28px;
	width:74px;
	background:#f82e3e;
	border:1px solid #e4393c;
	border-right:none;
	margin-left:20px;
	margin-top:20px;
}
#grab .pane b{
	font-size:13px;
	line-height:28px;
	color:#fff;
	float:left;
	margin-left:10px;
}
#grab .son b{
	font-size:13px;
	line-height:28px;
	color:#e4393c;
	float:left;
	margin-left:20px;
}
#grab .box .son{
	height:28px;
	width:96px;
	border:1px solid #e4393c;
	border-left:none;
	margin-left:94px;
	margin-top:20px;
}
#grab .box del{
	margin-left:70px;
	color:#e4393c;
	font-size:11px;
	margin-top:5px;

}
#grab .box h1{
	font-size:14px;
	font-weight:normal;
	color:#e5393c;
	margin-left:78px;
	margin-top:54px;
}
#grab .box h2{
	font-weight:normal;
	font-size:12px;
	float:left;
	margin-left:60px;
	margin-top:16px;
}
#grab .box h3{
	font-weight:normal;
	font-size:12px;
	color:#e4393c;
	float:left;
	margin-top:16px;
}
#grab .box h4{
	font-weight:normal;
	font-size:12px;
	float:left;
	margin-top:16px;
}
#grab .box p{
	position:absolute;
	top:295px;
	left:20px;
	color:#666666;
	font-size:11px;
	opacity:1;
	filter:alpha(opacity=100);
	transition:1s;
}
#grab .box:hover p{
	opacity:0;
	filter:alpha(opacity=0);

}
#grab .box span{
	float:left;
	font-family:"iconfont";
	color:white;
	font-size:30px;
	margin-left:50px;
	line-height:40px;
}
#grab .box .frime{
	height:40px;
	width:232px;
	background:#e52635;
	position:absolute;
	bottom:-41px;
	transition:.5s;
}
#grab .box:hover .frime{
	bottom:0;
}
#grab .frime b{
	font-size:18px;
	color:white;
	font-weight:normal;
	line-height:40px;
}
#cost .cost-top .tri{
	clear:both;
	float:left;
	margin-top:22px;
	width:0;
	height:0;
	border-top:10px solid white;
	border-bottom:10px solid white;
	border-left:10px solid white;
	border-right:10px solid #c81522;
}
#cost .cost-top h2{
	clear:both;
	font-size:21px;
	float:left;
	margin-left:28px;
	margin-top:-25px;
	color:#333333;
	font-weight:normal;
}
#cost .cost-top .rect{
	clear:both;
	float:left;
	background:#f8f5da;
	height:18px;
	width:108px;
	border:1px solid #f5dead;
	margin-left:131px;
	margin-top:-23px;
}
#cost .rect p{
	font-size:11px;
	color:#ca6a37;
	text-align:center;
	line-height:18px;
}
#cost .cost-top .line{
	clear:both;
	float:left;
	height:1px;
	width:100%;
	background:#e4393c;
	margin-top:12px;
}
#cost .cost-left{
	clear:both;
	float:left;
	width:100%;
}
#cost .cost-left .box{
	clear:both;
	float:left;
	height:205px;
	width:406px;
	background:#fff;
	border:1px solid #f3f3f3;
	border-top:none;
	border-right:none;
}
#cost .box h1{
	clear:both;
	float:left;
	font-size:11px;
	color:#333333;
	margin:22px auto 13px 17px; 
}
#cost .box p{
	clear:both;
	float:left;
	font-size:12px;
	color:#f15353;
	margin-left:17px;
	margin-bottom:13px;
}
#cost .box .siz{
	clear:both;
	float:left;
	height:16px;
	width:34px;
	background:#ff3939;
	margin-left:17px;
	border-radius:2px;
}
#cost .box b{
	clear:both;
	float:left;
	font-size:11px;
	text-align:center;
	color:#fff;
	margin-left:5px;
}
#cost .box img{
	clear:both;
	transition:1s;
	position:relative;
	left:100px;
	top:0;
	height:205px;
}
#cost .box img:hover{
	left:95px;
}
#cost .box .son{
	clear:both;
	float:left;
	height:62px;
	width:28px;
	background:#cccccc;
	display:none;
	transition:.5s;

}
#cost span{
	clear:both;
	float:left;
	margin-left:7px;
	margin-top:20px;
	color:#fff;
}
#cost .box .res{
	clear:both;
	float:right;
	height:62px;
	width:28px;
	margin-top:-60px;
	background:#cccccc;
	transition:.5s;
	margin-right:7px;
}
#cost .box:hover .son{
	display:block;
}
#cost .cost-left .casket{
	clear:both;
	float:left;
	height:205px;
	width:406px;
	background:#fff;
	border:1px solid #f3f3f3;
	border-top:none;
	border-right:none;
}
#cost .casket h1{
	clear:both;
	float:right;
	font-size:11px;
	color:#333333;
	margin-top:-170px;
	margin-right:140px;
}
#cost .casket img{
	clear:both;
	float:left;
	position:relative;
	left:0;
	transition:0.8s;
	z-index:1;
}
#cost .casket img:hover{
	left:5px;
}
#cost .casket p{
	clear:both;
	float:right;
	font-size:12px;
	color:#f15353;
	margin-right:140px;
	margin-top:-140px;
}
#cost .casket .siz{
	clear:both;
	float:right;
	height:16px;
	width:34px;
	background:#ff3939;
	border-radius:2px;
	margin-right:150px;
	margin-top:-110px;
}
#cost .casket b{
	clear:both;
	float:right;
	font-size:11px;
	text-align:center;
	color:#fff;
	margin-right:4px;
}
#cost .casket .son{
	clear:both;
	float:left;
	height:62px;
	width:28px;
	margin-top:-110px;
	background:#cccccc;
	display:none;
	transition:.5s;
	position:relative;
	z-index:10;

}
#cost span{
	clear:both;
	float:left;
	margin-left:7px;
	margin-top:20px;
	color:#fff;
}
#cost .casket .res{
	clear:both;
	float:right;
	height:62px;
	width:28px;
	margin-top:-110px;
	background:#cccccc;
	transition:.5s;
	margin-right:7px;
}
#cost .casket:hover .son{
	display:block;
}
#cost .pane{
	clear:both;
	float:left;
}
#cost .box1{
	float:left;
	height:207px;
	width:202px;
	border:1px solid #f3f3f3;
	margin-top:-207px;
	border-right:none;
	border-top:none;
	position:relative;
	overflow:hidden;
}
#cost .box1:nth-child(1){
	margin-left:400px;
}
#cost .box1 img{
	margin-top:20px;
	margin-left:10px;
}
#cost .box1 p{
	margin-left:10px;
	color:#e4393c;
}
#cost .box1 .son{
	height:40px;
	width:202px;
	background:#f40002;
	position:absolute;
	bottom:-41px;
	transition:1s;
}
#cost .box1 .son h1{
	font-size:11px;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-weight:normal;
}
#cost .box1:hover .son{
	bottom:0;
	display:block;
}
#cost .cost-right img{
	clear:both;
	float:right;
	margin-top:-414px;
	margin-right:8px;
}
#cost .cost-right .box{
	clear:both;
	float:right;
	margin-top:-175px;
	margin-right:6px;
	height:172px;
	width:394px;
	border:1px solid #f3f3f3;
}
#cost .box h2{
	clear:both;
	float:left;
	font-size:12px;
	color:#333333;
	margin-top:22px;
	margin-left:16px;
	margin-right:50px;
}
#cost .box a{
	float:left;
	margin-top:22px;
	font-size:12px;
	color:#333333;
	margin-right:9px;
}
#cost .box a:hover{
	color:#f15353;
}
#mobile .mobile-top .tri{
	clear:both;
	float:left;
	margin-top:22px;
	width:0;
	height:0;
	border-top:10px solid white;
	border-bottom:10px solid white;
	border-left:10px solid white;
	border-right:10px solid #c81522;
}
#mobile .mobile-top h2{
	clear:both;
	font-size:21px;
	float:left;
	margin-left:28px;
	margin-top:-25px;
	color:#333333;
	font-weight:normal;
}
#mobile .mobile-top .rect{
	clear:both;
	float:left;
	background:#f8f5da;
	height:18px;
	width:108px;
	border:1px solid #f5dead;
	margin-left:131px;
	margin-top:-23px;
}
#mobile .rect p{
	font-size:11px;
	color:#ca6a37;
	text-align:center;
	line-height:18px;
}
#mobile .mobile-top .line{
	clear:both;
	float:left;
	height:1px;
	width:100%;
	background:#e4393c;
	margin-top:12px;
}
#mobile .mobile-above img{
	clear:both;
	float:left;
}
#mobile .mobile-above .box{
	clear:both;
	float:left;
	height:207px;
	width:202px;
	margin-left:394px;
	margin-top:-240px;
	border:1px solid #f3f3f3;
	border-top:none;
	border-right:none;
	position:relative;
	overflow:hidden;
}
#mobile .box img{
	margin-top:20px;
	margin-left:10px;
}
#mobile .box p{
	margin-left:10px;
	color:#e4393c;
}
#mobile .box .son{
	height:40px;
	width:202px;
	background:#f40002;
	position:absolute;
	bottom:-41px;
	transition:1s;
}
#mobile .box .son h1{
	font-size:11px;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-weight:normal;
}
#mobile .box:hover .son{
	bottom:0;
}
#mobile .box:nth-child(2){
	margin-left:598px;
}
#mobile .mobile-above .con{
	clear:both;
	float:right;
	height:207px;
	width:406px;
	background:#fff;
	border:1px solid #f3f3f3;
	margin-top:-240px;
	border-top:none;
}
#mobile .con h1{
	clear:both;
	float:left;
	font-size:11px;
	color:#333333;
	margin:22px auto 13px 17px; 
}
#mobile .con p{
	clear:both;
	float:left;
	font-size:12px;
	color:#f15353;
	margin-left:17px;
	margin-bottom:13px;
}
#mobile .con .siz{
	clear:both;
	float:left;
	height:16px;
	width:34px;
	background:#ff3939;
	margin-left:17px;
	border-radius:2px;
}
#mobile .con b{
	clear:both;
	float:left;
	font-size:11px;
	text-align:center;
	color:#fff;
	margin-left:5px;
}
#mobile .con img{
	clear:both;
	transition:1s;
	position:relative;
	left:140px;
	top:-95px;
	height:205px;
}
#mobile .con img:hover{
	left:145px;
}
#mobile .con .son{
	clear:both;
	float:left;
	height:62px;
	width:28px;
	background:#cccccc;
	display:none;
	transition:.5s;
	margin-top:-200px;
}
#mobile span{
	clear:both;
	float:left;
	margin-left:7px;
	margin-top:20px;
	color:#fff;
}
#mobile .con .res{
	clear:both;
	float:right;
	height:62px;
	width:28px;
	margin-top:-205px;
	background:#cccccc;
	transition:.5s;
}
#mobile .con:hover .son{
	display:block;
}
#mobile .mobile-bottom .box1{
	clear:both;
	float:left;
	height:172px;
	width:393px;
	border:1px solid #f3f3f3;
	border-right:none;
}
#mobile .mobile-bottom .box1{
	clear:both;
	float:left;
	margin-right:6px;
	height:172px;
	width:394px;
	border:1px solid #f3f3f3;
}
#mobile .box1 h2{
	clear:both;
	float:left;
	font-size:12px;
	color:#333333;
	margin-top:22px;
	margin-left:16px;
	margin-right:50px;
}
#mobile .box1 a{
	float:left;
	margin-top:22px;
	font-size:12px;
	color:#333333;
	margin-right:9px;
}
#mobile .box1 a:hover{
	color:#f15353;
}
#mobile .mobile-bottom .box{
	clear:both;
	float:left;
	height:207px;
	width:202px;
	margin-left:394px;
	margin-top:-209px;
	border:1px solid #f3f3f3;
	border-top:none;
	border-right:none;
	position:relative;
	overflow:hidden;
}
#mobile .box img{
	margin-top:20px;
	margin-left:10px;
}
#mobile .box p{
	margin-left:10px;
	color:#e4393c;
}
#mobile .box .son{
	height:40px;
	width:202px;
	background:#f40002;
	position:absolute;
	bottom:-41px;
	transition:1s;
}
#mobile .box .son h1{
	font-size:11px;
	color:#fff;
	text-align:center;
	line-height:40px;
	font-weight:normal;
}
#mobile .box:hover .son{
	bottom:0;
}
#mobile .box:nth-child(2){
	margin-left:598px;
}
#mobile .mobile-bottom .casket{
	clear:both;
	float:right;
	height:205px;
	width:406px;
	background:#fff;
	border:1px solid #f3f3f3;
	border-top:none;
	margin-top:-206px;
}
#mobile .casket h1{
	clear:both;
	float:left;
	font-size:11px;
	color:#333333;
	margin-top:20px;
	margin-left:22px;
}
#mobile .casket img{
	clear:both;
	float:right;
	position:relative;
	top:-100px;
	left:-50px;
	transition:0.8s;
	z-index:1;
}
#mobile .casket img:hover{
	left:-55px;
}
#mobile .casket p{
	clear:both;
	float:left;
	font-size:12px;
	color:#f15353;
	margin-left:22px;
	margin-top:15px;
}
#mobile .casket .siz{
	clear:both;
	float:left;
	height:16px;
	width:34px;
	background:#ff3939;
	border-radius:2px;
	margin-left:25px;
	margin-top:15px;
}
#mobile .casket b{
	clear:both;
	float:left;
	font-size:11px;
	text-align:center;
	color:#fff;
	margin-left:4px;
}
#mobile .casket .son{
	clear:both;
	float:left;
	height:62px;
	width:28px;
	margin-top:-220px;
	background:#cccccc;
	display:none;
	transition:.5s;
	position:relative;
	z-index:10;

}
#mobile span{
	clear:both;
	float:left;
	margin-left:7px;
	margin-top:20px;
	color:#fff;
}
#mobile .casket .res{
	clear:both;
	float:right;
	height:62px;
	width:28px;
	margin-top:-220px;
	background:#cccccc;
	transition:.5s;
	margin-right:7px;
}
#mobile .casket:hover .son{
	display:block;
}
#hot .hot-top .tri{
	clear:both;
	float:left;
	margin-top:26px;
	width:0;
	height:0;
	border-top:10px solid white;
	border-bottom:10px solid white;
	border-left:10px solid white;
	border-right:10px solid #c81522;
} 
#hot .hot-top h1{
	clear:both;
	font-size:21px;
	float:left;
	margin-left:28px;
	margin-top:-25px;
	color:#333333;
	font-weight:normal;
}
#hot .hot-top .rect{
	clear:both;
	float:left;
	background:#f8f5da;
	height:18px;
	width:108px;
	border:1px solid #f5dead;
	margin-left:131px;
	margin-top:-23px;
	border-radius:3px;
}
#hot .rect p{
	font-size:11px;
	color:#ca6a37;
	text-align:center;
	line-height:18px;
}
#hot .hot-top .line{
	clear:both;
	float:left;
	height:1px;
	width:100%;
	background:#e4393c;
	margin-top:12px;
}
#hot .hot-top .best{
	clear:both;
	float:right;
	margin-top:-20px;
}
#hot .best a{
	font-size:11px;
	color:#666;
}
#hot .best a:hover{
	border:1px solid red;
	border-bottom:1px solid white;
	padding:11px;
	color:#e4393c;
}
#hot .hot-bottom{
	clear:both;
	float:left;
	width:100%;
	height:350px;
	position:relative;
	z-index:100;
	top:0;
}
#hot .hot-bottom .box{
	float:left;
	margin-right:12px;
	margin-bottom:15px;
	height:328px;
	width:228px;
	border:1px solid #cccccc;
	position:relative;
	top:0;
	left:0;
	transition:.5s;
	z-index:1;
}
#hot .box h1{
	font-size:14px;
	font-weight:normal;
	color:#666;
	margin-left:10px;
	margin-top:12px;
}
#hot .box h2{
	font-weight:normal;
	font-size:12px;
	float:left;
	color:#a7a7a7;
	margin-left:10px;
	margin-top:35px;
}
#hot .box h3{
	font-weight:normal;
	font-size:12px;
	color:#005aa8;
	float:left;
	margin-top:35px;
}
#hot .box h4{
	font-weight:normal;
	font-size:12px;
	float:left;
	color:#a7a7a7;
	margin-top:35px;
}
#hot .box p{
	position:absolute;
	top:275px;
	left:10px;
	color:#e4393c;
	font-size:11px;
}
#hot .hot-bottom .box:hover{
	box-shadow:0 10px 5px #e7e9ea;
	top:-1px;
}
#kindly .box{
	clear:both;
	float:left;
	height:40px;
	width:100%;
	background:#fcfae7;
	margin-top:1400px;
}
#kindly p{
	line-height:40px;
	font-size:11px;
	color:#666;
	margin-left:10px;
}
#cate .box{
	clear:both;
	float:left;
	height:94px;
	width:100%;
	background:#f5f5f5;
	margin-top:10px;
	margin-bottom:25px;
}
#cate .box img{
	clear:both;
	margin-top:24px;
	margin-right:78px;
}
#cate ol{
	float:left;
	margin-top:30px;
	margin-right:170px;
}
#cate ol li{
	color:#666;
	font-size:15px;
}
#cate ol li:nth-child(1){
	margin-bottom:16px;
}
#cate ol li a{
	color:#666;
	font-size:11px;
}
#cate ol li a:hover{
	color:#e4393c;
}
#cate .hgr{
	clear:both;
	float:left;
	width:100%;
	border:1px solid #e5e5e5;
	margin-top:24px;
}
#anenst .anenst-top{
	clear:both;
	float:left;
	margin-top:200px;
	margin-left:120px;
}
#anenst .anenst-top a{
	position:relative;
	font-size:11px;
	margin-right:16px;
	color:#666;
}
#anenst .anenst-top a:after{
	content:'';
	width:1px;
	height:12px;
	background:#b77d7d;
	position:absolute;
	top:3px;
	left:60px;
}
#anenst .anenst-top a:hover{
	color:#e4393c;
}
#anenst .police{
	clear:both;
	float:left;
	width:100%;
}
#anenst .police img{
	clear:both;
	float:left;
	margin-top:15px;
	margin-left:220px;
	margin-right:8px;
}
#anenst .police ol li {
	float:left;
	margin-top:15px;
}
#anenst .police ol li a{
	font-size:9px;
	color:#666;
}
#anenst .police ol li a:hover{
	color:#e4393c;
}
#anenst .int{
	clear:both;
	float:left;
}
#anenst .int ol{
	margin-left:190px;
	margin-top:5px;
}
#anenst .int ol li{
	float:left;
}
#anenst .int ol li a{
	font-size:11px;
	color:#666;
}
#anenst .int ol li a:hover{
	color:#e4393c;
}
#anenst .copy{
	clear:both;
	float:left;
}
#anenst .copy ol{
	margin-left:365px;
	margin-top:5px;
}
#anenst .copy ol li{
	float:left;
}
#anenst .copy ol li a{
	font-size:11px;
	color:#666;
}
#anenst .copy ol li a:hover{
	color:#e4393c;
}
#anenst .jd{
	clear:both;
	float:left;
}
#anenst .jd ol{
	margin-left:520px;
	margin-top:5px;
}
#anenst .jd ol li{
	float:left;
}
#anenst .jd ol li a{
	font-size:11px;
	color:#666;
}
#anenst .jd ol li a:hover{
	color:#e4393c;
}
#anenst .imgs{
	clear:both;
	float:left;
	margin-left:270px;
	margin-top:10px;
}
#anenst .imgs img{
	margin-right:10px;
}
 .cal{
	width:100%;
	height:33px;
	background:#f1f1f1;
	margin-top:-723px;
}
.cal2{
	width:100%;
	height:80px;
	background:#30a8f0;
}
.hgr{
	width:calc(100%-2px);
	border:2px solid #b1191a;
	margin-top:148px;
}
.cal3{
	width:100%;
	height:455px;
	background:#780018;
}
.fix{
	width:62px;
	position:fixed;
	left:0;
	top:20px;
}
.fix .tri{
	width:0;
	height:0;
	border-left:32px solid rgba(255,255,255,0);
	border-top:32px solid rgba(255,255,255,0);
	border-bottom:20px solid #d61d2a;
	border-right:32px solid rgba(255,255,255,0);
}
.rad{
	height:42px;
	width:62px;
	background:#fff;
	border:1px solid #c81522;
	line-height:42px;
}
.fix .rad:nth-child(1){
	border-bottom:none;

}
.fix .rad:nth-child(2){
	border-bottom:none;
}
.fix .rad:nth-child(3){
	border-bottom:none;
}
.fix .rad:nth-child(4){
	border-bottom:none;
}
.fix .rad:nth-child(5){
	border-bottom:none;
}
.fix .rad:nth-child(6){
	border-bottom:none;
}
.fix .rad:nth-child(7){
	border-bottom:none;
}
.fix .rad:nth-child(8){
	border-bottom:none;
}
.fix .rad:nth-child(9){
	border-bottom:none;
}
.fix .rad:nth-child(10){
	border-bottom:none;
}
#posi .fix .rad b{
	clear:both;
	float:left;
	margin-left:10px;
	font-family:'iconfont';
	font-size:19px;
	font-weight:normal;
}
.fix .rad:hover b{
	color:#c81623;
}
.fix .rad p{
	font-size:11px;
}
.fix .rad:hover p{
	color:#c81623;
} 
.fix .rad1{
	height:45px;
	width:64px;
	background:#cf1e2b;
}
#posi .fix .rad1 span{
	clear:both;
	margin-left:18px;
	color:#fff;
	font-family:'iconfont';
	font-size:19px;
	line-height:10px;
}
.fix .rad1 p{
	clear:both;
	line-height:15px;
	font-size:12px;
	margin-left:17px;
	color:#fff;
}
.fix-right .box{
	width:6px;
	height:600px;
	background:#7a6e6e;
	position:fixed;
	right:0;
	top:0;
}
#posi ol li{
	height:30px;
	width:30px;
	background:#7a6e6e;
	position:fixed;
	right:6px;
	top:240px;
	z-index:100;
}
#posi  span{
	font-family:'iconfont';
	color:#fff;
	line-height:30px;
	margin-left:8px;
}
#posi ol li:nth-child(2){
	top:271px;
}
#posi ol li:nth-child(3){
	top:302px;
}
#posi ol li:nth-child(4){
	top:333px;
}
#posi ol li:nth-child(5){
	top:364px;
}
#posi ol li:nth-child(6){
	top:395px;
}
#posi ol li:nth-child(7){
	top:539px;
}
#posi ol li:nth-child(8){
	top:570px;
}
#posi li p{
	height:30px;
	width:35px;
	background:#797575;
	position:relative;
	top:-30px;
	left:0;
	z-index:-1;
	border-radius:3px;
	line-height:30px;
	color:#797575;
	font-size:11px;
	text-align:center;
	transition:.5s;
}
#posi li:hover{
	background:#c81623;
}
#posi li:hover p{
	left:-70px;
	background:#c81623;
	width:75px;
	color:#fff;	
}
.cal4{
	height:94px;
	width:100%;
	background:red;
	margin-top:6244px;
	background:#f5f5f5;
}