html,body{
	height:100%;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
.layout{
	width:100%;
	margin:0 auto;
}
#top{
	overflow:hidden;
}
.top-left img{
	float:left;
	margin:30px auto auto 30px;
	overflow:hidden;
}
.top-left p{
	font-size:23px;
	color:#3a3a3a;
	margin:50px auto auto 10px;
	float:left;
}
.top-right h3{
	float:right;
	margin:50px 135px auto auto;
	font-size:18px;
	color:#706e6e;
	font-weight:normal;
}
.top-right:hover h3{
	text-decoration:underline;
}
.top-right p{
	float:right;
	margin-top:50px;
	color:#b299b2;
	font-size:18px;
}
#center{
	height:100%;
	width:985px;
	margin:40px auto;
}
.left .box1{
	width:400px;
	border:1px solid #dddddd;
	line-height:55px;
	color:#66667d;
	font-size:13px;
	margin-bottom:33px;
	margin-left:60px;
}
.left input{
	border:none;
	outline:none;
	margin-left:42px;
	color:#cfdaed;
}
.box1 img{
	float:right;
	margin-top:-45px;
}
.box1 .box2{
	height:40px;
	width:100px;
	background:#f2f2f2;
	float:right;
	margin-top:7px;
}
.box2 p{
	line-height:40px;
	text-align:center;
	color:#333333;
	font-size:12px;
}
.test{
	color:#333333;
	font-size:10px;
}
.test a{
	color:#8c88ff;
	font-size:10px;
}
.text{
	height:54px;
	width:400px;
	background:red;
	margin-top:36px;
	margin-left:60px;
}
.text a{
	font-size:15px;
	color:#fff;
	text-align:center;
	line-height:54px;
	clear:both;
	display:block;
}
.chord{
	height:650px;
	width:1px;
	background:#e6e6e6;
	margin-top:-650px;
	margin-left:550px;
}
.right{
	float:right;
	margin-top:-640px;
	margin-right:190px;
}
ul li{
	margin-bottom:35px;
}
.right a{
	position:relative;
	top:-10px;
}
.chord1{
	height:1px;
	width:160px;
	background:#e6e6e6;
	margin:-100px auto 35px auto;
}
.foot{
	width:100%;
	height:170px;
	overflow:hidden;
}
.foot span{
	font-size:13px;
	clear:both;
	margin-left:300px;
}
.foot p{
	text-align:center;
	font-size:13px;
	margin-top:17px;
	margin-left:10px;
}
.pos{
	float:right;
	height:135px;
	width:30px;
	background:#bbbbbb;
	position:fixed;
	bottom:268px;
	left:1320px;
	border-radius:5px;
}
.pos img{
	margin-left:5px;
}
.pos:hover{
	background:red;
}
.pos:hover img{
	background:url(../img/hm.png);
}
.pos p{
	color:white;
	margin-left:6px;
	margin-top:5px;
}